h4 {
    margin: 10px 5px 20px 5px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size:26px;
}

.form-group {
    margin: 30px auto;
    border: solid rgb(117, 16, 52) 5px;
    border-radius:5px;
    padding: 20px;
    width: 80%;
    background-color:rgb(88, 24, 56);
    color:rgb(214, 187, 35);
}

.form-group div {
    padding:5px;
    margin-top:10px;
}

label {
    margin-right: 10px;
}
button {
    margin:20px;
}

#Name {
    width: 70%;
    border: 1px solid #ced4da;
    border-radius:3px;
    height:40px;
}
#PrepTime {
    width: 60px;
}

.file-input {
    display:none;
}