<h4>Add new Royal Recipe</h4>

<div class="form-group">
<form [formGroup] = "recipeForm" (ngSubmit) = "onSubmit()">
    <div>
        <label for ="Name">
            Name
        </label>
        <input id="Name" type="text" formControlName="Name" required>
    </div>
    <div>
        <label for ="PrepTime">
            Prepararion time in minutes
        </label>
        <input id="PrepTime" type="number" min="0" formControlName="PreparationTimeInMinutes">
    </div>
    <div>
        <label for ="Description">
            Description
        </label>
        <textarea class="form-control" rows="3" cols="30" id="Description" type="text" formControlName="Description"></textarea>
    </div>
    <div>
        <label for ="Ingredients">
            Ingredients
        </label>
        <textarea class="form-control" rows="6" cols="30" id="Ingredients" type="text" formControlName="Ingredients"></textarea>
    </div>
    <div>
        <label for ="Instructions">
            Instructions
        </label>
        <textarea class="form-control" rows="10" cols="30" id="Instructions" type="text" formControlName="Instructions"></textarea>
    </div>
    <div>
        <label for="Tags">
            <br>
            <span *ngFor = "let tag of TagList">
            <input type = "checkbox" formControlName="Tags" 
            (change)="onTagChange(tag.name, $event)"
            name="tag.name" value="tag.value" id="tag.value">
            {{tag.name}}
            </span>
        </label>
    </div>

<button class="button" type="submit">Save Recipe</button>
</form>
</div>



