.recipe {
margin:30px 20px;
}
.heading {
    font-size:36px;
    color: #66030a;
}
.tags {
    display:flex; 
    flex-wrap:nowrap;
    margin-right:20px;
}
.tag {
    border: solid 1px lightgrey;
    background:rgb(221, 205, 205);
    margin: 0 5px 5px 0;
    padding: 3px;
}
.ingress {
    font-size:20px;
    margin-top:15px;
}
.flex {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.small {
    font-size:14px;
}
h4 {
    font-weight:600;
}
.leftContent {
    border-right: 1px dashed #66030a;
    max-width:300px;
    padding-rigth:20px;
}

.rightContent {
    margin: 0 20px 0 20px;
    flex:1;
    min-width:250px;

}
.bg-col {
    padding:10px;
    background-color: rgb(233, 226, 224);
}

@media only screen and (max-width:646px) {
    .recipe {
        margin:30px 10px;
    }

    .heading {
        font-size: 28px;
    }

    .leftContent {
        border:none;
    }

    .rightContent {
        margin-left:0;
        margin-top:20px;
    }
}